# Public URL of the site, used by SEO modules and internal routing
NUXT_PUBLIC_SITE_URL=http://localhost:3000

# Secret key for OG Image generation payload validation
NUXT_OG_IMAGE_SECRET=your_secret_key_here
